*{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cadetblue;
}
.container{
    border: 1px solid #dbd9d9;
    width: 28rem;
    height: 20rem;
    padding: .5rem;
    border-radius: 0.5rem;
    box-shadow: .5rem .5rem 0.3rem .01rem #878787;
    margin: 1rem auto;
}
.secao{
   
    width: 27rem;
    height: 19rem;
    border-radius: .5rem;
    background-color: #dbd9d9;
    padding: .5rem;
    
}
input{
    width: 8rem;
    
}
.entrada{
    margin: .5rem 0rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #dbd9d9;
}
.painel{
    background-color: #dbd9d9;